@import "../index.scss";

.add-product-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $gray-800;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  h1 {
    font-size: 0.8rem;
  }

  .link {
    all: unset;
  }
  .action {
    display: flex;
    gap: 0.5rem;
  }
  .error {
    color: $red-700;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

@media (min-width: 380px) {
  .add-product-navbar {
    h1 {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 640px) {
  .add-product-navbar {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1280px) {
  .navbar {
    h1 {
      font-size: 2rem;
    }
  }
}
