@import "../../index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .label {
    color: $gray-600;
    margin-bottom: 0.25em;
  }

  .select {
    border: 1px solid $gray-400;
    color: $gray-600;
    border-radius: 0.25em;
    padding: 0.2em 0.4em;
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    font-weight: 200;
    font-family: inherit;
  }
}
