@import "../index.scss";

.products-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    max-width: 1200px;
    width: 100%;
  }
  @media (max-width: 768px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 480px) {
    .products {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}


