@import "../index.scss";

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  width: 100%;

}

@media (min-width: 640px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
