@import "../../index.scss";

.product {
  border: 1px solid $gray-400;
  box-shadow: 1px 1px 1px $gray-200;
  border-radius: .5rem;
  padding:.5rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  font-weight: 500;
  .product-info {
    text-align: center;

  }
  &:hover {
    transform: scale(1.01);
    border-color: $gray-600;
  }
  input[type="checkbox"] {
      accent-color: $primary;
      width:1.2rem;
      height:1.2rem;
    cursor: pointer;
  }


}
@media (min-width: 640px ) {
  .product {
      font-size: 1.5rem ;
      padding: 1rem;
  }
  input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
  }
}
