$primay: #E04F4F;
$secondary: #3F4AAF;
$white: #fff;
$red-500: #ef4444;
$red-700: #b91c1c;
$red-900: #7f1d1d;
$gray-200: #e5e7eb;
$gray-400:#9ca3af;
$gray-600: #4b5563;
$gray-800: #1f2937;


*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}