$primary: #e04f4f;
$secondary: #3f4aaf;
$white: #fff;
$red-500: #ef4444;
$red-700: #b91c1c;
$red-900: #7f1d1d;
$gray-200: #e5e7eb;
$gray-400: #9ca3af;
$gray-600: #4b5563;
$gray-800: #1f2937;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 2000px;
  padding: 0 2rem;
  margin: 2rem auto;
}
